<div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
    style="background-image: url('<%=image %>'); background-size: cover; background-position: center; background-repeat: no-repeat; "
    alt="An image of <%= name %>">
    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
            <%= name %>
        </h3>
    </div>
</div>
<div class="card-footer mt-3 mb-4">
    <a href="/project/<%= ident %>" class="btn btn-outline-dark">View Project</a>
</div>

<script>
    console.log('Image URL:', '<%=image %>');
</script>